*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#f8fbff,#eef8f3);
}

.container{
    max-width:700px;
    margin:40px auto;
    padding:20px;
}

header{
    background:linear-gradient(135deg,#ff8769,#fcfbc2,#c2fcfc,#e1c2fc);
    color:#0000000;
    text-align:center;
    padding:35px;
    border-radius:20px;
    box-shadow:0 12px 30px rgba(0,0,0,.12);
}

.logo{
    font-size:55px;
}

header h1{
    margin-top:10px;
    font-size:32px;
}

header p{
    margin-top:10px;
    font-size:16px;
    opacity:.95;
}

.card{
    margin-top:25px;
    background:#fff;
    border-radius:20px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

label{
    display:block;
    margin:18px 0 8px;
    font-weight:600;
}

input,
select{
    width:100%;
    padding:14px;
    border:2px solid #E4E4E4;
    border-radius:12px;
    font-size:16px;
    transition:.25s;
}

input:focus,
select:focus{
    outline:none;
    border-color:#4FC3F7;
}

h2{
    margin:30px 0 18px;
    text-align:center;
    color: linear-gradient(135deg,#ff8769,#fcfbc2);
}

#salvar,
#salvarEscala{
    width:100%;
    margin-top:30px;
    padding:18px;
    border:none;
    border-radius:16px;
    background:linear-gradient(135deg,#c2fcfc,#e1c2fc);
    color:#000;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

#salvar:hover,
#salvarEscala:hover{
    background:linear-gradient(135deg,#85c9c9,#ad86cf);
    transform:scale(1.02);
    color: #fff;
}

footer{
    text-align:center;
    margin-top:25px;
    color:#777;
}

/* ===========================
   ADMIN
=========================== */

.cardsResumo{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.resumo{
    flex:1;
    background:#F5F5F5;
    padding:25px;
    border-radius:15px;
    text-align:center;
}

.resumo h3{
    font-size:40px;
    color:#4CAF50;
    margin-bottom:10px;
}

.participante{
    background:#fafafa;
    padding:18px;
    border-radius:15px;
    margin-top:15px;
    border-left:6px solid #81C784;
}

.participante h3{
    margin-bottom:10px;
}

.tag{
    display:inline-block;
    background:#E8F5E9;
    padding:8px 12px;
    margin:4px;
    border-radius:20px;
    font-size:14px;
}

.diasEscala{
    display:grid;
    gap:20px;
    margin-top:20px;
}

.domingo{
    background:#fafafa;
    padding:20px;
    border-radius:15px;
}

.domingo select{
    margin-top:10px;
}
#gerarSugestao,
#exportarImagem{
    width:100%;
    margin-top:30px;
    padding:18px;
    border:none;
    border-radius:16px;
    background:linear-gradient(135deg,#c2fcfc,#e1c2fc);
    color:#000;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

#gerarSugestao:hover,
#exportarImagem:hover{
    background:linear-gradient(135deg,#85c9c9,#ad86cf);
    transform:scale(1.02);
    color: #fff;
}

/* ===========================
   CALENDÁRIO
=========================== */

#calendario{
    margin-top:25px;
    width:100%;
    display:grid;
    grid-template-columns:repeat(7,minmax(40px,1fr));
    gap:6px;
}

.diaSemana{
    text-align:center;
    font-weight:600;
    color:#777;
    padding:6px;
    font-size:14px;
}

.diaCalendario{
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
    background:#f3f3f3;
    border-radius:12px;
    font-weight:600;
    user-select:none;
}

.desabilitado{
    opacity:.35;
}

.selecionavel{
    cursor:pointer;
    background:#FFF9C4;
    transition:.25s;
}

.selecionavel:hover{
    transform:scale(1.05);
}

.selecionado{
    background:#81C784;
    color:#fff;
}

/* ===========================
   RESPONSIVO
=========================== */

@media (max-width:600px){

    .container{
        margin:20px auto;
        padding:12px;
    }

    header{
        padding:25px;
    }

    header h1{
        font-size:24px;
    }

    .card{
        padding:18px;
    }

    .cardsResumo{
        flex-direction:column;
    }

    #calendario{
        gap:4px;
        grid-template-columns:repeat(7,minmax(34px,1fr));
    }

    .diaSemana{
        font-size:11px;
    }

    .diaCalendario{
        height:44px;
        font-size:13px;
        border-radius:8px;
    }

}
.cardsResumo{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.resumo{
    flex:1;
    background:#f8f8f8;
    border-radius:15px;
    padding:20px;
    text-align:center;
}

.resumo h3{
    color:#4CAF50;
    font-size:34px;
}

@media(max-width:700px){

    .cardsResumo{
        flex-direction:column;
    }

}
#cardExportacao{

    width:1920px;
    height:1080px;

    padding:60px;
    background-image:url("EscFundo.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    font-family:'Poppins',sans-serif;

    position:absolute;
    left:-99999px;

}

.cabecalhoEscala{

    display:flex;

    align-items:center;

    gap:50px;

    margin-bottom:45px;

}

.tituloArea{
    width: 60%;
    flex:1;
    text-align:center;

}

.tituloArea h1{

    font-size:70px;

    color:#7B4FD1;

    margin-bottom:20px;

}

.logoArea {
     width:20%;
}

.textoArea {
    width:20%;
    background: rgba(255,255,255,.80);
    padding:30px;
    border-radius:25px;
    font-size:25px;
    color:#555;
    box-shadow:0 10px 10px rgba(242, 208, 53);
}

.faixaMes{

    display:inline-block;

    padding:12px 45px;

    border-radius:40px;

    background:linear-gradient(135deg,#c2fcfc,#ff99d1);

    color:#5f3aa5;

    font-size:34px;

    font-weight:700;

}

.gradeEscala{

    display:flex;

    flex-direction:column;

    gap:28px;

    margin-top:35px;

}

.linhaExportacao{

    display:flex;

    justify-content:center;

    gap:22px;

}

.cardCulto{

    background:white;

    border-radius:25px;

    overflow:hidden;

    border:3px solid #FFE0EC;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

    transition:.3s;

}
.cardGrande{

    width:410px;

}

.cardPequeno{

    width:305px;

}

.tituloCulto{

    padding:14px;

    text-align:center;

    font-size:26px;

    font-weight:700;

    color:white;

}

.domingoCard .tituloCulto{

    background:#ff7aa2;

}

.quintaCard .tituloCulto{

    background:#49c9c3;

}

.conteudoCulto{

    padding:20px 24px;

}

.linhaPessoa{
    align-items: center;
    font-size:26px;
    margin:12px 0;
    color:#444;
}

.rodapeEscala{
    margin-top:45px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.versiculo{
    width:60%;
    background: rgba(255,255,255,.80);
    padding:27px;
    border-radius:25px;
    font-size:22px;
    color:#555;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    bottom: 0;
}

.assinatura{

    font-size:34px;

    font-weight:700;

    color:#7B4FD1;

}
